@model int 

<i class="bi bi-cart"></i>
<span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
    (@Model)
    <span class="visually-hidden">items in cart</span>
</span>     