@using Microsoft.AspNetCore.Http
@inject IHttpContextAccessor httpContextAccessor


<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>@ViewData["Title"] - Book Store </title>

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/bulkyApp.styles.css" asp-append-version="true" />
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css" />
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/css/toastr.css" />
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.13.5/css/jquery.dataTables.min.css" />
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container d-flex justify-content-center">
                <a class="navbar-brand position-absolute start-0 ms-3" asp-area="" asp-controller="Home" asp-action="Index">
                    <i class="bi bi-book"></i>
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex justify-content-center">
                    <ul class="navbar-nav flex-grow-0">
                        <li class="nav-item">
                            <a class="nav-link" asp-area="Customer" asp-controller="Home" asp-action="Index">Home</a>
                        </li>

                        <li class="nav-item">
                            <a class="nav-link" asp-area="Admin" asp-controller="Order" asp-action="Index">Order Managment</a>
                        </li>

                         @if (User.IsInRole(SD.AdminRole)) 
                        {
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Content Management
                            </a>
                            <ul class="dropdown-menu">
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="category" asp-action="index">Category</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Product" asp-action="index">Product</a>
                                </li>
                                <li>
                                    <a class="dropdown-item" asp-area="Admin" asp-controller="Company" asp-action="index">Company</a>
                                </li>
                                    <li>
                                        <a class="dropdown-item" asp-area="Admin" asp-controller="User" asp-action="index">User Manegment</a>
                                    </li>
                                 <li>
                                    <a class="dropdown-item" asp-area="Identity"  asp-page="/Account/Register">Create User</a>
                                 </li>
                            </ul>
                        </li>
                        }

                       
                       
                        <!-- Shopping Cart Icon -->
                        
                            <li class="nav-item">
                                <a class="nav-link position-relative" asp-area="Customer" asp-controller="Cart" asp-action="Index">
                                    @await Component.InvokeAsync("ShoppingCart")
                                </a>
                            </li>
                        
                    </ul>


                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>

    </header>
    <div class="container-fluid px-4">
        <main role="main" class="pb-3">
            <partial name="_Notification" />
            @RenderBody()
        </main>
    </div>
    <footer class="footer bg-primary text-light mt-auto shadow-sm fixed-bottom">
        <div class="container d-flex justify-content-between align-items-center ">
            <div class="fw-semibold">
                bulkyApp <i class="bi bi-person-workspace ms-1"></i> by NASSANI
            </div>
            <div>
                <i class="bi bi-telephone-fill me-1"></i> +905538866317 &nbsp;|&nbsp;
                <i class="bi bi-envelope-fill me-1"></i> abdurrahmannahseni@gmail.com &nbsp;|&nbsp;
                <i class="bi bi-geo-alt-fill me-1"></i> Gaziantep
            </div>
            <div>
                <a href="#" class="text-light me-3"><i class="bi bi-facebook"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-twitter"></i></a>
                <a href="#" class="text-light me-3"><i class="bi bi-instagram"></i></a>
                <a href="#" class="text-light"><i class="bi bi-linkedin"></i></a>
            </div>
        </div>
    </footer>



    <script src="https://cdn.tiny.cloud/1/knge9z11lueakjm039rc8zn9lnlcm8svr8odwgy8axylhibk/tinymce/8/tinymce.min.js" referrerpolicy="origin" crossorigin="anonymous"></script>

    <!-- تأكد تحميل jQuery أولاً -->
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <!-- تحديث DataTables JS لأحدث نسخة -->
    <script src="https://cdn.datatables.net/1.13.5/js/jquery.dataTables.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
